<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>React boilerplate</title>
</head>
<body>
  <div id="root"></div>
<!--   <div class="card" style="background-image: url('https://raw.githubusercontent.com/lewagon/flats-boilerplate/master/images/flat3.jpg';);">
    <div class="card-category">Charm at the Steps of the Sacre Coeur/Montmartre</div>
    <div class="card-description">
      <h2>164</h2>
    </div>
    <a class="card-link" href="#"></a>
  </div> -->
</body>
</html>
<!-- style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('https://raw.githubusercontent.com/lewagon/flats-boilerplate/master/images/flat3.jpg';);" -->
